.schedule {
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendarArea {
    background-color: bisque;
    height: 80vh;
    flex: 9;
    margin: 1rem;
}

.courseInfo {
    background-color: aquamarine;
    flex: 3;
    height: 80vh;
    margin: 1rem;
}

.rotateCourse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
}

.prevnext {
    margin: 1rem;
    padding: 1rem;
    color: red;
}

